$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #070415,
    ),
    grey: (
        1:#f0f4f7,
        2:#F5F6F8,

    ),
    text: (
        body:#000,
        1:#000,
    ),
    theme: (
        1: #006ad7,
        2: #000,

    ),
    border: (
        1: #006ad7,
    )
);
